/*
	===========================
	GLOBAL SETTINGS
	===========================
*/

* {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #e2e2dd;
    overflow-x: hidden;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper {
    padding-top: 60px;
    width: 100%
}

/*
	===========================
	HEADER SECTION
	===========================
*/

.header__main-heading {
    margin: 0;
    padding: 10px 20px;
    display: block;
    line-height: 1.2;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #fff;
}

.header__btn {
    padding: 5px 10px;
    width: 250px;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.header__btn--active {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
}

.instr {
    display: block;
    margin: 5px 20px;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 1.4;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 3px #9f9f9f;
    box-shadow: 0px 0px 3px #9f9f9f;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.instr__item {
    padding: 5px;
    text-align: justify;
    list-style: square inside;
}

.container--counter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #908d89;
    -webkit-box-shadow: 0px 0px 9px #9f9f9f;
    box-shadow: 0px 0px 9px #9f9f9f;
    z-index: 9999;
}

.counter__heading {
    display: block;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

.counter__number,
.counter__percent {
    color: black;
}

/*
	===========================
	MAP SECTION
	===========================
*/

.container--map {
    margin-bottom: 15px;
}

.svg__map {
    display: block;
    width: 100%;
    height: auto;
}

.svg__map path {
    cursor: pointer;
}

/* tooltip  */
.container--svg {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.tooltip__text {
    background-color: rgb(82, 80, 80);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
}

.hidden {
    visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

/* search box */

.search-country {
    width: 100%;
    position: relative;
}

.search-country__input {
    width: 70%;
    padding: 2px 0;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 6px;
    z-index: 999;
}

.search-country__list {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    padding: 0 10px;
}

.list__country {
    display: none;
    /* display flex with JS */
    margin: 10px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s;
}

.list__country:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px #363533;
    box-shadow: 0px 0px 3px #363533;
}

.list__country:active {
    -webkit-box-shadow: inset 0px 0px 4px 1px #9c9c9c;
    box-shadow: inset 0px 0px 4px 1px #9c9c9c;
}

.country-flag {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    padding: 0 10px;
    height: 30px;
    width: auto;
    z-index: -1
}

/*
	===========================
	TABLE SECTION
	===========================
*/

.container--table {
    width: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.container__continent {
    border-top: 2px solid black;
    padding: 0 15px;
}

.container__continent:last-child {
    border-bottom: 2px solid black;
}

.continent__heading {
    margin: 0 10px 5px;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.visited {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 12px;
}

/* class adding by js */
.visited__country {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 5px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.visited__country .country-flag {
    padding: 0;
}

.remove {
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

/* make a icon trash not clickable */
.fa-trash-alt {
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: -1;
}

/*
	===========================
	FOOTER SECTION
	===========================
*/

.footer {
    padding: 20px 0;
    color: #fff;
    background-color: #908d89;
}

.footer__link {
    text-decoration: underline;
    color: #fff;
    cursor: pointer
}

/*
	===========================
	MEDIA QUERIES
	===========================
*/

@media (min-width: 424px) {
    .counter__heading {
        font-size: 17px;
    }

    .list__country {
        margin: 10px 0;
        padding: 10px 0;
        font-size: 17px;
    }

    .continent__heading {
        font-size: 17px;
    }

    .visited {
        font-size: 15px;
        padding: 10px;
    }

    .visited__country {
        -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
        margin: 7px 0;
    }

    .fa-trash-alt {
        font-size: 15px;
    }

    .footer {
        padding: 15px 0;
    }

}

@media (min-width: 500px) {
    .counter__heading {
        font-size: 20px;
    }

    .header__btn {
        width: 280px;
        font-size: 17px;
    }

    .instr {
        font-size: 15px;
    }

    .search-country__input {
        width: 60%;
        font-size: 17px;
    }

    .search-country__list {
        width: 60%;
    }

    .list__country {
        font-size: 20px;
    }

    .visited {
        font-size: 18px;
    }

    .fa-trash-alt {
        font-size: 17px;
    }

    .footer {
        font-size: 17px;
    }
}

@media (min-width: 665px) {
    .header__main-heading {
        padding: 15px 70px;
    }

    .container__continent {
        padding: 0 20px;
    }

    .visited__country {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    }
}

@media (min-width: 799px) {
    .instr {
        width: 80%;
    }

    .search-country__input {
        width: 50%;
    }

    .search-country__list {
        width: 50%;
    }
}


@media (min-width: 959px) {
    .header__btn:hover {
        background-color: #a0a0a0;
    }

    .search-country__input {
        width: 25%;
        font-size: 15px;
    }

    .search-country__list {
        width: 25%;
    }

    .list__country {
        font-size: 15px;
    }

    .svg__map path:hover {
        fill: #b6b6b6 !important
    }

    .remove:hover .fa-trash-alt {
        font-size: 20px;
    }

}

@media (min-width: 1170px) {
    .search-country__input {
        font-size: 16px;
    }

    .list__country {
        font-size: 16px;
    }

    .container--table {
        margin-top: 20px;
    }

    .visited__country {
        -ms-flex-preferred-size: 21%;
        flex-basis: 21%;
    }

}